* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: white;
  overflow: hidden;
}

a,
a:hover,
a:visited {
  color: white;
  text-decoration: none;
}

h1 {
  letter-spacing: 1rem;
}

.container {
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

#home {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

#home a,
a:hover,
a:visited {
  color: white;
  text-decoration: none;
}

#about {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#project {
  background: violet;
}

.datetime {
  margin: 20px 0 50px 0;
  width: 50vw;
  color: white;
  background: transparent;
  letter-spacing: 0.5rem;
  font-weight: 600;
  text-align: center;
}

.date {
  font-size: 2em;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
}

#footer {
  position: absolute;
  bottom: 10px;
  height: 2vh;
  width: 92vw;
  background-color: transparent;
  font-weight: 600;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 95vh;
}

#textfield {
  color: black;
  font-size: 2.5rem;
  padding: 2vw;
  height: 100vh;
  overflow: scroll;
}
